/* customizedCSS
snelliamo le pagine */

.jumbotron{
    background-color: white;
}
body{
    background-image: linear-gradient(rgba(255,255,255,.85), rgba(255,255,255,.85)), url('/static/scenery/bg.jpeg');
    background-size: cover;
}
.button4{
    border-radius: 8px;
}
#uploadIconTitle{
        font-weight:    bold;
    }
#downloadIconTitle{
        font-weight:    bold;
    }
.col-xs-24,
.col-sm-24,
.col-md-24,
.col-lg-24 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-24 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-24 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-24 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-24 {
        width: 20%;
        float: left;
    }
}
.navbar-nav .nav-link,
.navbar-brand {
    text-align: right;
}
a {
    color: #007bff;
}
.elencopuntato{
    margin-top: 0.5em;
}

.bg-primary{
    background-color: #202020 !important;
}