nvdcpematch-1.0.json
**/data/**
official-cpe-dictionary_v2.3.xml
__pycache__/
.~lock.*
output.*
*.pyc
**/.vscode/*
**/venv/**
**/vsd.json
**/vtd.json
**/ev.json
vsd.json
vtd.json
ev.json
**/myVenv/**
*.csv
