<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>VISE</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
        <link rel="stylesheet" href="static/assets/css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
        <script src="static/assets/js/smoothproducts.min.js"></script>
        <script src="static/assets/js/theme.js"></script>

        <link rel="stylesheet" href="static/assets/css/mine.css">
        
        <style>
        .center {
            display: block;
            height: 37%;
            width: 40%;
            margin-left: auto;
            margin-right: auto;
        }
        </style>

        <script>
            function deleteRow(deleteElement) {
                // deleteElement.parentNode is a Table Data Cell element
                // deleteElement.parentNode.parentNode is a Table Row element
                var i = deleteElement.parentNode.parentNode.rowIndex;
                // remove row from table
                document.getElementById("tableID").deleteRow(i);
                // remove correct dictionary from valueToSubmit array
                valueToSubmit.splice(i-2, 1)
            }
        </script>

        <script>
            // Value to be sent in POST (and serialized in JSON)
            var valueToSubmit = [];

            function addRow() {
                var table = document.getElementById("tableID");
                var tBody = table.getElementsByTagName('tbody')[0];
                var row = tBody.insertRow(0);
                
                // define an array with table headers
                var cellNames = ["Product Name","Version Number","Vendor Name","Target Software","Product Type"];
                var i;
                // define a temporary dictionary
                var tempDict = {};
                // iterate on all table columns to add iteratively a new cell in the current table row
                for(i=0; i<cellNames.length; i++){
                    // the dictionary key is the specific column header
                    var key = cellNames[i];
                    // retrieve a specific value from a specific form field
                    // (each form field has as id a name of a column header)
                    var value = document.getElementById(key).value;
                    // add new cell to current row
                    var tCell = row.insertCell(i);
                    // the value displayed in this cell is the same of the related form field
                    tCell.innerHTML = value;
                    // add key-value pair to the temporary dictionary
                    tempDict[key] = value;
                }
                // add current temporary dictionary in head of the valueToSubmit array
                valueToSubmit.unshift(tempDict);

                // add new cell to current row to remove element
                var cell6 = row.insertCell(5);
                var deleteElement = '<input type="button" style="font-family: helvetica; color:red;" onclick="deleteRow(this)" value="x">'
                // the content of this cell is an input field of button type. A click on the current cell invoke the deleteRow() function
                cell6.innerHTML = deleteElement;
            }

            // Function to send form data as POST and structured in JSON
            function sendFormData(){
                var form = document.getElementById("searchingCardForm");
                var input = document.getElementById("searchingCardField");
                //Convert a JavaScript array into a JSON string
                input.setAttribute("value", JSON.stringify(valueToSubmit));
                form.submit();
            }
        </script>
    </head>
    <body style="display: flex; flex-direction: column; height: 100%;">
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="{{ url_for('.main') }}">VISE</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('.main') }}">Home</a>
                    </li>
                    <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('.form')}}">Form <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('.searchingCard')}}">Searching card</a>
                    </li>
                </ul>
                </div>
            </nav>
        </header>

        <div style='margin-top:20px;'></div>

        <main class="page landing-page">
            <section class="clean-block features" style ="border-color: rgb(201,190,201);">
                <div class="container">
                    <div class="carousel-inner" role="listbox" margin-right="auto" margin-left="auto">
                        <div id="title" class="carousel-item active"><img class="center" src="static/scenery/VISE_alt.png"/></div>
                    </div>  

                    <div style='margin-top:20px;'></div>

                    <div class="jumbotron card border-secondary mb-3" style="padding: 2rem;"    >
                        <div class="row justify-content-center">
                            <div class="col-3 feature-box">
                                <form action="#">
                                    <label class="col-form-label" for="Product Name">Product Name *</label>
                                    <input id="Product Name" type="text" name="inputBox" placeholder="Product Name" class="form-control">
                                    <label class="col-form-label" for="Version Number">Version Number *</label>
                                    <input id="Version Number" type="text" name="inputBox" placeholder="Version Number" class="form-control">
                                    <label class="col-form-label" for="Vendor Name">Vendor Name</label>
                                    <input id="Vendor Name" type="text" name="inputBox" placeholder="Vendor Name" class="form-control">
                                    <label class="col-form-label" for="Target Software">Target Software</label>
                                    <input id="Target Software" type="text" name="inputBox" placeholder="Target Software" class="form-control">
                                    <label class="col-form-label" for="Product Type">Product Type</label>
                                    <input id="Product Type" type="text" name="inputBox" placeholder='"Application", "OS" or "Hardware"' class="form-control">
                                    <small id="fileHelp" class="form-text text-muted" style="margin-bottom: 10px;">* = Required fields</small>
                                    <button id="formButton" type="button"  class="btn btn-primary" onclick="addRow()">ADD ROW</button>                       
                                </form> 
                            </div>

                            <div class="col-1" style="margin-left: -3%;"></div>

                            <div class="col-8 feature-box">
                                <div class="row justify-content-center">
                                <form id="searchingCardForm" action="{{ url_for('.returnLinks') }}" method="POST" style="width: 99%;">
                                    <input type="hidden" name="res" id="searchingCardField" />
                                    <table id="tableID" width="100%" class="table table-hover"> 
                                        <thead>
                                        <tr> 
                                            <th style="font-family: helvetica; background-color:lightgreen; color: black;/* padding: 5px 15px 5px 15px;*/">Product</th>
                                            <th style="font-family: helvetica; background-color: lightgreen; color: black; /*padding: 5px 15px 5px 15px;*/">Version</th>
                                            <th style="font-family: helvetica; background-color: lightskyblue; color: black; /*padding: 5px 15px 5px 15px;*/">Vendor</th>
                                            <th style="font-family: helvetica; background-color: lightskyblue; color: black; /*padding: 5px 15px 5px 15px;*/">Target Software</th>
                                            <th style="font-family: helvetica; background-color: lightskyblue; color: black; /*padding: 5px 15px 5px 15px;*/">Product Type</th> 
                                            <th style="font-family: helvetica; background-color: rgb(235, 166, 163); color: black; /*padding: 5px 15px 5px 15px;*/">Remove</th>
                                        <tr>
                                        </thead>
                                        <tbody id="tableBody"></tbody>
                                    </table>

                                    <div style='margin-top:100px;'></div>

                                    <div class="row justify-content-center">
                                        <button id="returnLinksButton" type="button"  class="btn btn-primary btn-lg btn-block" onclick="sendFormData()" style="width: 66%;">SUBMIT</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

            <div style='margin-top:30px;'></div>

        </main>
        <footer class="page-footer dark" style="flex-shrink:0;">
            <div class="footer-copyright">
                <p footer-text align="middle">Copyright © 2020 CyberHackademy. All rights reserved.</p>
            </div>
        </footer>
    </body>
</html>