<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>VIS3</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="static/assets/css/smoothproducts.css">
</head>

<body>

    <script>
        function deleteRow(r) {
            var i = r.parentNode.parentNode.rowIndex;
            document.getElementById("tableID").deleteRow(i);
        }
    </script>

    <script>
        //Valore da inviare in post (e serializzato in JSON)
        var valueToSubmit = [];

        function addRow() {
            var table = document.getElementById("tableID");
            var row = table.insertRow(1);
            
            //Strutturata come for in modo da alleggerire il codice
            var cellNames = ["PackageInput","VersionInput","SoftwareInput","ProductInput","VendorInput","PlatformInput"];
            var i;
            var tempDict = {};
            for(i=0; i<cellNames.length; i++){
                var key = cellNames[i];
                var value = document.getElementById(key).value;
                var tCell = row.insertCell(i);
                tCell.innerHTML = valueToSubmit;
                tempDict[key] = value;
            }
            valueToSubmit.push(tempDict);

            var cell7 = row.insertCell(6);
            var deleteElement = '<input type="button" style="font-family: helvetica; color:red;" onclick="deleteRow(this)" value="x">'
            cell7.innerHTML = deleteElement;
        }

        //Funzione per inviare i dati del form come POST e strutturati in JSON
        function sendFormData(){
            var form = document.getElementById("searchingCardForm");
            var input = document.getElementById("searchingCardField");
            input.setAttribute("value", JSON.stringify(valueToSubmit));
            form.submit();
        }
    </script>

    <main class="page landing-page">
        <section class="clean-block features" style ="border-color: rgb(201,190,201);">
            <div id="container" class="container">
                <div class="carousel-inner" role="listbox" margin-right="auto" margin-left="auto">
                    <div id="title" class="carousel-item active"><img class="card-img-top w-100 d-block" height="300" width="800" src="static/scenery/VIS3.png"/></div>
                </div>

                <div style='margin-top:50px;'></div>

                <div class="row justify-content-center">
                    <div>
                        <form action="/action_page.php">
                            <input id="PackageInput" type="text" name="inputBox" placeholder="Package"><br>
                            <input id="VersionInput" type="text" name="inputBox" placeholder="Version"><br>
                            <input id="SoftwareInput" type="text" name="inputBox" placeholder="Software Type"><br>
                            <input id="ProductInput" type="text" name="inputBox" placeholder="Product Name"><br>
                            <input id="VendorInput" type="text" name="inputBox" placeholder="Vendor Name"><br>
                            <input id="PlatformInput" type="text" name="inputBox" placeholder="Platform"><br><br>
                            <button id="formButton" type="button"  class="button button4" onclick="addRow()">ADD ROW</button>                       
                        </form> 
                    </div>

                    <div style='margin-right:100px;'></div>

                    <div>
                        <form id="searchingCardForm" action="{{ url_for('.returnLinks') }}">
                            <input type="hidden" name="res" id="searchingCardField" />
                            <table id="tableID" width="400" border="1"> 
                                <tr> 
                                    <th style="font-family: helvetica; background-color:lightgreen; color: black;">Package</th>
                                    <th style="font-family: helvetica; background-color: lightgreen; color: black;">Version</th>
                                    <th style="font-family: helvetica; background-color: lightskyblue; color: black;">Software Type</th>
                                    <th style="font-family: helvetica; background-color: lightskyblue; color: black;">Product Name</th>
                                    <th style="font-family: helvetica; background-color: lightskyblue; color: black;">Vendor Name</th> 
                                    <th style="font-family: helvetica; background-color: lightskyblue; color: black;">Platform</th>
                                <tr> 
                            </table>

                            <div style='margin-top:100px;'></div>

                            <div class="row justify-content-center">
                                <button id="returnLinksButton" type="button"  class="button button4" onclick="sendFormData()">SUBMIT</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
       
        <div style='margin-top:30px;'></div>

        <!--
        <section>
            <div class="row justify-content-center">
                <a href="{{ url_for('.exportPDF')}}"> 
                    <button id="exportPDFButton" type="button"  class="button button4">Export to PDF</button>
                </a>

                <div style='margin-right:100px;'></div>

                <a href="{{ url_for('.exportCSV')}}"> 
                    <button id="exportCSVButton" type="button"  class="button button4">Export to CSV</button>
                </a>
            </div>
        </section>
        -->

        <div style='margin-top:50px;'></div>

    </main>
    <footer class="page-footer dark">
        <div class="footer-copyright">
            <p></p>
            <p></p>
            <p></p>
            <p align="middle">© 2020 Copyright Text</p>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="static/assets/js/smoothproducts.min.js"></script>
    <script src="static/assets/js/theme.js"></script>
</body>

<style>
    .button4{
        border-radius: 8px;
    }
    #uploadIconTitle{
            font-weight:    bold;
        }
    #downloadIconTitle{
            font-weight:    bold;
        }
    .col-xs-24,
    .col-sm-24,
    .col-md-24,
    .col-lg-24 {
        position: relative;
        min-height: 1px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .col-xs-24 {
        width: 20%;
        float: left;
    }
    @media (min-width: 768px) {
    .col-sm-24 {
            width: 20%;
            float: left;
        }
    }
    @media (min-width: 992px) {
        .col-md-24 {
            width: 20%;
            float: left;
        }
    }
    @media (min-width: 1200px) {
        .col-lg-24 {
            width: 20%;
            float: left;
        }
    }
</style>

</html>