<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>VIS3</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="static/assets/css/smoothproducts.css">
</head>

<body>

    <script>
        function addRow() {
            var table = document.getElementById("tableID");
            var row = table.insertRow(1);

            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            var cell3 = row.insertCell(2);
            var cell4 = row.insertCell(3);
            var cell5 = row.insertCell(4);
            var cell6 = row.insertCell(5);

            cell1.innerHTML = document.getElementById("PackageInput").value;
            cell2.innerHTML = document.getElementById("VersionInput").value;
            cell3.innerHTML = document.getElementById("SoftwareInput").value;
            cell4.innerHTML = document.getElementById("ProductInput").value;
            cell5.innerHTML = document.getElementById("VendorInput").value;
            cell6.innerHTML =  document.getElementById("PlatformInput").value;
    }
    </script>

    <main class="page landing-page">
        <section class="clean-block features" style ="border-color: rgb(201,190,201);">
            <div id="container" class="container">
                <div class="carousel-inner" role="listbox" margin-right="auto" margin-left="auto">
                    <div id="title" class="carousel-item active"><img class="card-img-top w-100 d-block" height="300" width="800" src="static/scenery/VIS3.png"/></div>
                </div>
                <div class="row justify-content-center">
                    <div>
                        <form action="/action_page.php">
                            <input id="PackageInput" type="text" name="inputBox" placeholder="Package"><br>
                            <input id="VersionInput" type="text" name="inputBox" placeholder="Version"><br>
                            <input id="SoftwareInput" type="text" name="inputBox" placeholder="Software Type"><br>
                            <input id="ProductInput" type="text" name="inputBox" placeholder="Product Name"><br>
                            <input id="VendorInput" type="text" name="inputBox" placeholder="Vendor Name"><br>
                            <input id="PlatformInput" type="text" name="inputBox" placeholder="Platform"><br><br>
                            <button id="formButton" type="button" onclick="addRow()">ADD ROW</button>                       
                        </form> 
                    </div>

                    <div>
                        <table id="tableID" width=”400″ border=”1″> 
                            <tr> 
                                <th style="font-family: helvetica; background-color:lightgreen; color: black;">Package</th>
                                <th style="font-family: helvetica; background-color: lightgreen; color: black;">Version</th>
                                <th style="font-family: helvetica; background-color: lightskyblue; color: black;">Software Type</th>
                                <th style="font-family: helvetica; background-color: lightskyblue; color: black;">Product Name</th>
                                <th style="font-family: helvetica; background-color: lightskyblue; color: black;">Vendor Name</th> 
                                <th style="font-family: helvetica; background-color: lightskyblue; color: black;">Platform</th> 
                            <tr> 
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <!--
        <section class="clean-block about-us">
            <div class="container">
                <div class="block-heading">
                    <p></p>
                    <p></p>
                    <h2 class="text-info" align="middle">About Us</h2>
                    <p></p>
                </div>
                    <div class="card-columns mx-auto d-flex col-12">
                        <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="static/avatars/Fabio.jpg">
                            <div class="card-body info">
                                <h4 class="card-title">Fabio Maresca</h4>
                                <p class="card-text"></p>
                                <div class="icons"><a href="https://www.facebook.com/fabiolion1995"><i class="icon-social-facebook"></i></a><a href="https://www.instagram.com/fabiomar95/"><i class="icon-social-instagram"></i></a><a href="https://twitter.com/FabioMaresca2"><i class="icon-social-twitter"></i></a></div>
                            </div>
                        </div>
        
                        <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="static/avatars/Antonio.jpg">
                            <div class="card-body info">
                                <h4 class="card-title">Antonio Forte</h4>
                                <p class="card-text"></p>
                                <div class="icons"><a href="https://www.facebook.com/antonioforte1995/"><i class="icon-social-facebook"></i></a><a href="https://www.instagram.com/antonioforte1995/"><i class="icon-social-instagram"></i></a><a href="https://twitter.com/antonioforte95"><i class="icon-social-twitter"></i></a></div>
                            </div>
                        </div>
    
                        <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="static/avatars/Giampaolo.jpg">
                            <div class="card-body info">
                                <h4 class="card-title">Giampaolo La Rosa</h4>
                                <p class="card-text"></p>
                                <div class="icons"><a href="https://www.facebook.com/giampaolo.larosa.5"><i class="icon-social-facebook"></i></a><a href="https://www.instagram.com/giampaololarosa/"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                            </div>
                        </div>
                    
                        <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="static/avatars/Giuseppe.jpg">
                            <div class="card-body info">
                                <h4 class="card-title">Giuseppe Siani</h4>
                                <p class="card-text"></p>
                                <div class="icons"><a href="https://www.facebook.com/Beppe.Siani"><i class="icon-social-facebook"></i></a><a href="https://www.instagram.com/giuseppe_siani/"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                            </div>
                        </div>
                          
                        <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="static/avatars/Salvatore.png">
                            <div class="card-body info">
                                <h4 class="card-title">Salvatore Scotto di Perta</h4>
                                <p class="card-text"></p>
                                <div class="icons"><a href="https://www.facebook.com/icesalvo1992"><i class="icon-social-facebook"></i></a><a href="https://www.instagram.com/d1l3mm4/"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                            </div>
                        </div>        
                    </div>
                </div>
            </div>
        </section>
    -->
    </main>
    <footer class="page-footer dark">
        <div class="footer-copyright">
            <p></p>
            <p></p>
            <p></p>
            <p align="middle">© 2020 Copyright Text</p>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="static/assets/js/smoothproducts.min.js"></script>
    <script src="static/assets/js/theme.js"></script>
</body>

<style>
    .button4{
        border-radius: 8px;
    }
    #uploadIconTitle{
            font-weight:    bold;
        }
    #downloadIconTitle{
            font-weight:    bold;
        }
    .col-xs-24,
    .col-sm-24,
    .col-md-24,
    .col-lg-24 {
        position: relative;
        min-height: 1px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .col-xs-24 {
        width: 20%;
        float: left;
    }
    @media (min-width: 768px) {
    .col-sm-24 {
            width: 20%;
            float: left;
        }
    }
    @media (min-width: 992px) {
        .col-md-24 {
            width: 20%;
            float: left;
        }
    }
    @media (min-width: 1200px) {
        .col-lg-24 {
            width: 20%;
            float: left;
        }
    }
</style>

</html>