<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>VIS3</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="static/assets/css/bootstrap.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="static/assets/js/smoothproducts.min.js"></script>
    <script src="static/assets/js/theme.js"></script>

    <style>
        .button4{
            border-radius: 8px;
        }
        #uploadIconTitle{
                font-weight:    bold;
            }
        #downloadIconTitle{
                font-weight:    bold;
            }
        .col-xs-24,
        .col-sm-24,
        .col-md-24,
        .col-lg-24 {
            position: relative;
            min-height: 1px;
            padding-right: 10px;
            padding-left: 10px;
        }
        .col-xs-24 {
            width: 20%;
            float: left;
        }
        @media (min-width: 768px) {
        .col-sm-24 {
                width: 20%;
                float: left;
            }
        }
        @media (min-width: 992px) {
            .col-md-24 {
                width: 20%;
                float: left;
            }
        }
        @media (min-width: 1200px) {
            .col-lg-24 {
                width: 20%;
                float: left;
            }
        }
        .navbar-nav .nav-link,
        .navbar-brand {
            text-align: right;
        }

    </style>
    <script>
        function deleteRow(r) {
            var i = r.parentNode.parentNode.rowIndex;
            document.getElementById("tableID").deleteRow(i);
        }
    </script>

    <script>
        //Valore da inviare in post (e serializzato in JSON)
        var valueToSubmit = [];

        function addRow() {
            var table = document.getElementById("tableID");
            var tBody = table.getElementsByTagName('tbody')[0];
            var row = tBody.insertRow(0);
            
            //Strutturata come for in modo da alleggerire il codice
            var cellNames = ["PackageInput","VersionInput","VendorInput","SoftwareInput","ProductInput","PlatformInput"];
            var i;
            var tempDict = {};
            for(i=0; i<cellNames.length; i++){
                var key = cellNames[i];
                var value = document.getElementById(key).value;
                var tCell = row.insertCell(i);
                tCell.innerHTML = value;
                tempDict[key] = value;
            }
            valueToSubmit.push(tempDict);

            var cell7 = row.insertCell(6);
            var deleteElement = '<input type="button" style="font-family: helvetica; color:red;" onclick="deleteRow(this)" value="x">'
            cell7.innerHTML = deleteElement;
        }

        //Funzione per inviare i dati del form come POST e strutturati in JSON
        function sendFormData(){
            var form = document.getElementById("searchingCardForm");
            var input = document.getElementById("searchingCardField");
            input.setAttribute("value", JSON.stringify(valueToSubmit));
            form.submit();
        }
    </script>
</head>
<body style="display: flex; flex-direction: column; height: 100%;">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="{{ url_for('.main') }}">VIS3</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarColor01">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('.main') }}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('.form')}}">Form</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('.searchingCard')}}">Searching card</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('.aboutUs') }}">About us</a>
                </li>
              </ul>
            </div>
        </nav>
    </header>
    <main class="page landing-page">
        <section class="clean-block features" style ="border-color: rgb(201,190,201);">
            <div class="container">
                <div class="carousel-inner" role="listbox" margin-right="auto" margin-left="auto">
                    <div id="title" class="carousel-item active"><img class="card-img-top w-100 d-block" height="300" width="800" src="static/scenery/VIS3.png"/></div>
                </div>  
            </div>

            <div class="row justify-content-center">
                <div class="col-md-5 feature-box card bg-light border-primary mb-3">
                    <div class="card-header"><i id = uploadIconTitle class="icon-folder-alt icon text-primary"> Import Searching Card</i></div>
                    <div class="card-body">
                        <p class="card-text">Click the button below to upload the searching card.<br>As a result of the uploading of the searching card, some links will be shown to view the analysis results graphically.</p>    
                        <form action = "{{ url_for('.returnLinks') }}" method = "POST" enctype = "multipart/form-data">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                <div class="custom-file">
                                    <input type="file" id="myFile" name="searchingCard" class="custom-file-input" onchange="uploadFunction()">
                                    <label id="labelFile" class="custom-file-label">Choose file</label>
                                </div>
                                <div class="input-group-append">
                                    <buttontype="button" id="returnLinksButton" class="btn btn-primary">Upload</button>
                                </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div style='margin-right:80px;'></div>

                <div class="col-md-5 feature-box card bg-light border-info mb-3">
                    <div class="card-header"><i id = downloadIconTitle class="icon-arrow-down-circle icon text-info"> Searching Card sample</i></div>
                    <div class="card-body">
                        <p class="card-text">Click the button below to download a sample of a searching card.</p>
                        <a href="{{ url_for('.downloadFunction') }}" download> 
                            <button id="submitButton" type="button" class="btn btn-info">DOWNLOAD</button>
                        </a> 
                        <p></p>
                        <p class="card-text">If you want to create a your own searching card be carefull, it must have the green fields in the image: package and version.<br>A correct example of a searching card is the following.</p>
                        <img class="card-img-top w-100 d-block" src="static/scenery/searching_card.png"/>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer dark" style="flex-shrink:0;">
        <div class="footer-copyright" style="margin-top: 20px;">
            <p footer-text align="middle">Copyright © 2020 CyberHackademy. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>