<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>VIS3</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="static/assets/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="static/assets/js/smoothproducts.min.js"></script>
    <script src="static/assets/js/theme.js"></script>

    <link rel="stylesheet" href="static/assets/css/mine.css">
    
    <script>
        function deleteRow(r) {
            var i = r.parentNode.parentNode.rowIndex;
            document.getElementById("tableID").deleteRow(i);
        }
    </script>

    <script>
        //Valore da inviare in post (e serializzato in JSON)
        var valueToSubmit = [];

        function addRow() {
            var table = document.getElementById("tableID");
            var tBody = table.getElementsByTagName('tbody')[0];
            var row = tBody.insertRow(0);
            
            //Strutturata come for in modo da alleggerire il codice
            var cellNames = ["PackageInput","VersionInput","VendorInput","SoftwareInput","ProductInput","PlatformInput"];
            var i;
            var tempDict = {};
            for(i=0; i<cellNames.length; i++){
                var key = cellNames[i];
                var value = document.getElementById(key).value;
                var tCell = row.insertCell(i);
                tCell.innerHTML = value;
                tempDict[key] = value;
            }
            valueToSubmit.push(tempDict);

            var cell7 = row.insertCell(6);
            var deleteElement = '<input type="button" style="font-family: helvetica; color:red;" onclick="deleteRow(this)" value="x">'
            cell7.innerHTML = deleteElement;
        }

        //Funzione per inviare i dati del form come POST e strutturati in JSON
        function sendFormData(){
            var form = document.getElementById("searchingCardForm");
            var input = document.getElementById("searchingCardField");
            input.setAttribute("value", JSON.stringify(valueToSubmit));
            form.submit();
        }
    </script>
</head>
<body style="display: flex; flex-direction: column; height: 100%;">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="{{ url_for('.main') }}">VIS3</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarColor01">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('.main') }}">Home</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="{{ url_for('.form')}}">Form <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('.searchingCard')}}">Searching card</a>
                </li>
              </ul>
            </div>
        </nav>
    </header>
    <!--
    <main style="flex: 1 0 auto;">
        <section class="clean-block features" style ="margin-bottom: 3em;">
            <div class="container">
                <div class="carousel-inner" role="listbox" margin-right="auto" margin-left="auto">
                    <div id="title" class="carousel-item active"><img class="card-img-top w-100 d-block" height="300" width="800" src="static/scenery/VIS3.png"/></div>
                </div>

                <div class="row justify-content-center jumbotron card border-secondary mb-3" style="padding: 2rem; border-radius: 0.5rem;">
                    <p style="margin: 0px;"> VIS3 è un tool che raccoglie informazioni da piattaforme di pubblico accesso (NVD, CVE Details, Exploit DB) con il fine di aggregare vulnerabilità note e fornire enrichment legati ad esse. <br><br>
                        Le informazioni possono essere ricercate attraverso:<br>
                        &emsp;- il completamento manuale di alcuni parametri di una form HTML<br> 
                        &emsp;- l'inserimento di una searching card<br><br>
                        
                        Per ognuno di questi è prevista la funzionalità di export.<br> 
                        VIS3 può essere anche utilizzato da linea di comando, mostrando come risultato una cli minimal ed efficace.</p>
                </div>

                <div style='margin-top:20px;'></div>
                
                <div class="row justify-content-center">    
                    <a href="{{ url_for('.form')}}"> 
                        <button id="formButton" type="button"  class="btn btn-primary">FORM</button>
                    </a>

                    <div style='margin-right:100px;'></div>

                    <a href="{{ url_for('.searchingCard')}}"> 
                        <button id="searchingCardButton" type="button"  class="btn btn-info">SEARCHING CARD</button>
                    </a>
                </div>

            </div>
        </section>
    </main>
    -->
    <main class="page landing-page">
        <section class="clean-block features" style ="border-color: rgb(201,190,201);">
            <div class="container">
                <div class="carousel-inner" role="listbox" margin-right="auto" margin-left="auto">
                    <div id="title" class="carousel-item active"><img class="card-img-top w-100 d-block" max-height="300" src="static/scenery/VIS3_alt.png"/></div>
                </div>  

                <div class="jumbotron card border-secondary mb-3" style="padding: 2rem;"    >
                    <div class="row justify-content-center">
                        <div class="col-3 feature-box">
                            <form action="#">
                                <label class="col-form-label" for="PackageInput">Package Name *</label>
                                <input id="PackageInput" type="text" name="inputBox" placeholder="Package" class="form-control">
                                <label class="col-form-label" for="VersionInput">Version Number *</label>
                                <input id="VersionInput" type="text" name="inputBox" placeholder="Version" class="form-control">
                                <label class="col-form-label" for="VendorInput">Vendor Name</label>
                                <input id="VendorInput" type="text" name="inputBox" placeholder="Vendor Name" class="form-control">
                                <label class="col-form-label" for="SoftwareInput">Target Software</label>
                                <input id="SoftwareInput" type="text" name="inputBox" placeholder="Target Software" class="form-control">
                                <label class="col-form-label" for="ProductInput">Product Type</label>
                                <input id="ProductInput" type="text" name="inputBox" placeholder='"a", "o" or "h"' class="form-control">
                                <label class="col-form-label" for="PlatformInput">Platform</label>
                                <input id="PlatformInput" type="text" name="inputBox" placeholder="Platform" class="form-control">
                                <small id="fileHelp" class="form-text text-muted" style="margin-bottom: 10px;">* = Required fields.</small>
                                <button id="formButton" type="button"  class="btn btn-primary" onclick="addRow()">ADD ROW</button>                       
                            </form> 
                        </div>

                        <div class="col-1" style="margin-left: -3%;"></div>

                        <div class="col-8 feature-box">
                            <form id="searchingCardForm" action="{{ url_for('.returnLinks') }}" method="POST" style="width: 99%;">
                                <input type="hidden" name="res" id="searchingCardField" />
                                <table id="tableID" width="100%" class="table table-hover"> 
                                    <thead>
                                    <tr> 
                                        <th style="font-family: helvetica; background-color:lightgreen; color: black;/* padding: 5px 15px 5px 15px;*/">Package</th>
                                        <th style="font-family: helvetica; background-color: lightgreen; color: black; /*padding: 5px 15px 5px 15px;*/">Version</th>
                                        <th style="font-family: helvetica; background-color: lightskyblue; color: black; /*padding: 5px 15px 5px 15px;*/">Vendor</th>
                                        <th style="font-family: helvetica; background-color: lightskyblue; color: black; /*padding: 5px 15px 5px 15px;*/">Target Software</th>
                                        <th style="font-family: helvetica; background-color: lightskyblue; color: black; /*padding: 5px 15px 5px 15px;*/">Product Type</th> 
                                        <th style="font-family: helvetica; background-color: lightskyblue; color: black; /*padding: 5px 15px 5px 15px;*/">Platform</th>
                                        <th style="font-family: helvetica; background-color: rgb(235, 166, 163); color: black; /*padding: 5px 15px 5px 15px;*/">Remove</th>
                                    <tr>
                                    </thead>
                                    <tbody id="tableBody">
                                        <!--
                                        <tr>
                                            <td>A</td>
                                            <td>A</td>
                                            <td>A</td>
                                            <td>A</td>
                                            <td>A</td>
                                            <td>A</td>
                                            <td>A</td>
                                        </tr>
                                        <tr>
                                            <td>A</td>
                                            <td>A</td>
                                            <td>A</td>
                                            <td>A</td>
                                            <td>A</td>
                                            <td>A</td>
                                            <td>A</td>
                                        </tr>-->
                                    </tbody>
                                </table>

                                <div style='margin-top:100px;'></div>

                                <div class="row justify-content-center">
                                    <button id="returnLinksButton" type="button"  class="btn btn-primary btn-lg btn-block" onclick="sendFormData()" style="width: 66%;">SUBMIT</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </section>
       
        <div style='margin-top:50px;'></div>

        <!--
        <section>
            <div class="row justify-content-center">
                <a href="{{ url_for('.exportPDF')}}"> 
                    <button id="exportPDFButton" type="button"  class="button button4">Export to PDF</button>
                </a>

                <div style='margin-right:100px;'></div>

                <a href="{{ url_for('.exportCSV')}}"> 
                    <button id="exportCSVButton" type="button"  class="button button4">Export to CSV</button>
                </a>
            </div>
        </section>
        -->

        <div style='margin-top:50px;'></div>

    </main>
    <footer class="page-footer dark" style="flex-shrink:0;">
        <div class="footer-copyright">
            <p footer-text align="middle">Copyright © 2020 CyberHackademy. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>