certifi==2022.12.7
chardet==3.0.4
click==7.1.2
colored==1.4.2
cve-searchsploit==1.6
elasticsearch==7.8.0
Flask==1.1.2
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
pdfkit==0.6.1
prettytable==0.7.2
progressbar2==3.53.1
python-utils==2.4.0
requests==2.24.0
six==1.15.0
urllib3==1.26.5
Werkzeug==1.0.1
xlrd==1.2.0
